@charset "utf-8";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
header,
section,
article,
nav,
aside,
footer {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

#ex_19 {
  width: 100%;
  height: auto;
  /* 자식의 컨텐츠 영역의 높이 값을 반영하겠다는 의미 */
  background-color: black;
}

#ex_19 .wrap {
  width: 1200px;
  margin: 0 auto;
  background-color: #222;
  border: 1px solid #ff0;
  color: white;
}

#ex_19 .wrap .tit {
  padding-bottom: 20px;
  border-bottom: 1px solid #d50037;
}
#ex_19 .wrap .tit h2 {
  font-size: 40px;
}

#ex_19 .wrap .cont {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
#ex_19 .wrap .cont .txt {
  width: calc(100% - 400px);
}
#ex_19 .wrap .cont .txt h3 {
}
#ex_19 .wrap .cont .txt h4 {
}
#ex_19 .wrap .cont .txt p {
}

#ex_19 .wrap .cont .txt img {
  width: 350px;
  height: 450px;
  background-image: url(../img/img_p_coffeestory.jpg);
  background-position: 50% 50%;
  background-size: cover;
  margin-left: 50px;
}
